---
---

{% assign theme = "reveal.js/theme/white.css" %}

{% if site.revealify.theme %}
  {% assign theme = site.revealify.theme %}
{% endif %}

{% if page.revealify.theme %}
  {% assign theme = page.revealify.theme %}
{% endif %}

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% link reveal.js/reveal.css %}">
    <link rel="stylesheet" type="text/css" href="{% link {{ theme }} %}">
  </head>
  <body>
    {{ content | revealify }}


    {% for plugin in layout.plugins %}
    <script src="{% link {{ plugin }} %}"></script>
    {% endfor %}

    <script src="{% link reveal.js/reveal.js %}"></script>
    <script>
// this is the reveal config
Reveal.initialize(
  {{ layout.config }}
);
    </script>
  </body>
</html>
