---
---

{% assign theme = "reveal.js/css/theme/white.css" %}

{% if site.revealify.theme %}
  {% assign theme = site.revealify.theme %}
{% endif %}

{% if page.revealify.theme %}
  {% assign theme = page.revealify.theme %}
{% endif %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="{% link reveal.js/css/reveal.css %}">
    <link rel="stylesheet" type="text/css" href="{% link {{ theme }} %}">
  </head>
  <body>
    {{ content | revealify }}

    <script src="{% link reveal.js/js/reveal.js %}"></script>
    <script>
// this is the reveal config
Reveal.initialize(
  {% include revealjs-config.js %}
);
    </script>
  </body>
</html>
