---
plugins:
  - reveal.js/plugin/math/math.js
  - reveal.js/plugin/highlight/highlight.js
  - chalkboard-redux/plugin.js

config: |
  {
    width: 1920,
    height: 1080,
    margin: 0.1,
    center: false,
    controls: false,
    transition: 'none',
    history: true,
    slideNumber: true,
    plugins: [
      ChalkboardRedux,
      RevealMath,
      RevealHighlight
    ],
    math: {
      mathjax: 'https://cdn.jsdelivr.net/gh/mathjax/mathjax@2.7.8/MathJax.js',
      config: 'TeX-AMS_HTML-full',
    }
  }
---

{% assign theme = "reveal.js/theme/white.css" %}

{% if site.revealify.theme %}
  {% assign theme = site.revealify.theme %}
{% endif %}

{% if layout.theme %}
  {% assign theme = layout.theme %}
{% endif %}

{% if page.theme %}
  {% assign theme = page.theme %}
{% endif %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    {% if page.title %}
	<title>{{ page.title | xml_escape }}</title>
    {% endif %}

    {% if page.event %}
	<meta name="description" content="{{ page.event | xml_escape }}">
    {% endif %}

    {% if page.author %}
	<meta name="author" content="{{ page.author | xml_escape }}">
    {% endif %}

	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{% link reveal.js/reset.css %}">
    <link rel="stylesheet" type="text/css" href="{% link reveal.js/reveal.css %}">
    <link rel="stylesheet" type="text/css" href="{% link {{ theme }} %}">
  </head>
  <body>
    {{ content | revealify }}

    <link rel="stylesheet" type="text/css" href="{% link reveal.js/plugin/highlight/atom-one-dark.css %}">
    {% for plugin in layout.plugins %}
    <script src="{% link {{ plugin }} %}"></script>
    {% endfor %}

    <script src="{% link reveal.js/reveal.js %}"></script>
    <script>
// this is the reveal config
Reveal.initialize(
  {{ layout.config }}
);
    </script>
  </body>
</html>
